---
import javit from "../../public/javit.jpg";
import dn from "../../public/dn.png";
import zentraly from "../../public/zentraly.jpg";

const projects = [
  {
    title: "Javit",
    description:
      "Plataforma de logística, para administración de envios, usuarios y puntos de entrega.",
    tecnologies: ["React", "Node", "C#"],
    link: "https://javit.com.ar/#/",
    img: javit,
  },
  {
    title: "Zentraly",
    description:
      "Automatización, controlar tanto la climatización de tu hogar como cada uno de los dispositivos electrónicos",
    tecnologies: ["React", "C#"],
    link: "",
    img: zentraly,
  },
  {
    title: "Dulces Noches",
    description: "Sistema de dontrol y habitos de sueño infatil",
    tecnologies: ["React", "Node", "Firebase"],
    link: "",
    img: dn,
  },
];
---

<div
  class="py-3 text-white text-center max-w-md mx-auto sm:max-w-xl lg:max-w-4xl"
>
  <h1 class="custom-title mb-3">Trabajos</h1>
  <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 grid-rows-1">
    {
      projects.map((project) => (
        <div class=" border rounded-lg shadow ">
          <img src={project.img.src} alt={project.title} class="rounded-t-lg" />
          <div class="mt-1">
            {project.tecnologies.map((tecnology) => (
              <span class="bg-white text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-md dark:bg-white dark:text-gray-900">
                {tecnology}
              </span>
            ))}
          </div>
          <div class="p-2">
            <a href="#">
              <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">
                {project.title}
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-200 dark:text-gray-200">
              {project.description}
            </p>
            {project.link && (
              <a href="https://javit.com.ar/#/">
                <span class="bg-white text-gray-800 text-xs font-medium py-1 px-3 rounded-md dark:bg-white dark:text-gray-900 hover:bg-gray-300">
                  Ver
                </span>
              </a>
            )}
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  .bg-custom {
    background: #1c1c22;
  }
  .item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 2px;
  }
</style>
